.form {
    &__group {
        margin-bottom: 15px;
    }

    &__input {

        padding: 10px 0 10px 0;
        width: 100%;
        border: 2px solid $gray;
        border-radius: 5px;
        text-indent: 10px;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
    }

    &__footer{
        text-align: center;
        text-decoration: none;
    }
}